<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
  session 값 확인 : <p th:text="${session.loginEmail}"></p>
  <button onclick="saveReq()">글작성</button>
  <button onclick="listReq()">글목록</button>
  <button onclick="pagingReq()">페이징목록</button>
    <a href="/member/update">내 정보 수정하기</a>
    <a href="/member/logout">로그아웃</a>
</body>
<script>
    // function saveReq(){
    //
    // }

    const saveReq = () => {
        location.href = "/board/save"; // = <a href="/board/save"></a>
    }
    const listReq = () => {
        location.href = "/board/list";
    }

    const pagingReq = () => {
        location.href = "/board/paging";
    }

</script>
</html>